/*INDEX CSS START HERE*/
nav {
  /* I need to be flexed. */
  display: flex;
  /* I need to align my children vertically. */
  align-items: center;
  /* I need to justify my children so the logo is on the left and the links are on the right. */
  justify-content: space-between;
  height: 100px;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #e7e7e7;
  background-color: #cccccc;
}

.name {
  display: block;
  font-weight: bold;
  font-size: 24px; 
  text-align: left;
  padding: 50px;
  margin: 100px;
  color:#4aaaa5;
  font-size: 24px;
  background-color:#4aaaa5;
}

.name:last-child {
  border-right: none;
}

.navigation {
  /* I need to be flexed. */
  display: flex;
  display: inline;  
  /* I need to align my children vertically. */
  margin: 100px;
  color: #666;
  text-align: right;

}

a {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

a:last-child {
  border-right: none;
}  

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: black;
  background-color: blue;
  text-decoration: underline;
}

img {
  display: flex;
  border-radius: 8px;
  padding: 20px;
  max-width: 150px; 
  height: auto;
  border: 2px solid #e7e7e7;
}

article {
  padding: 100px;
  color: white;
  background-color: #777;
  border: 2px solid #e7e7e7;
}

footer {
  background-color:#666666;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #e7e7e7;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  border-bottom: 2px solid #e7e7e7;
}

p {
  text-align: justify;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  background: #007bb5;
}

.fa {
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

i {
  display: inline;
}

#picture,
#social,
#para {
  float: left;
}

#picture {
  width: 70%;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

#social {
  padding: 30px;
  width: auto;
}

/*INDEX CSS END HERE*/

/*CONTACT FORM CSS START HERE*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.flex-container-contact {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.article {
  padding: 100px;
  color: white;
  background-color: #777;
  border: 2px solid #e7e7e7;
}

/*CONTACT FORM CSS ENDS HERE*/

/*GALLERY FORM CSS START HERE*/

div.gallery {
  border: 1px solid #ccc;
  width: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: auto;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: black;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 3px;
  float: left;
  width: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: auto;
  height: auto;
}

/* Add a background color and some padding around the form */
.flex-container-gallery {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.article-gallery {
  width: auto;
  padding: 100px;
  color: white;
  background-color: #777;
  border: 2px solid #e7e7e7;
}

p {
  color: black;
}


/*GALLERY CSS ENDS HERE*/

