nav {
  /* I need to be flexed. */
  display: flex;
  /* I need to align my children vertically. */
  align-items: center;
  /* I need to justify my children so the logo is on the left and the links are on the right. */
  justify-content: space-between;
  height: 100px;
  overflow: hidden;
  background-color:#ebebeb;
}

.name {
  padding-left: 100px;
  color:black;
  font-size: 24px;
}

.navigation {
  /* I need to be flexed. */
  display: flex;
  /* I need to align my children vertically. */
  align-items: center;
  padding-right: 100px;  
  color: white;
}

body {
  font-size: 20px;
  color: black;
  background-color:#ffffff;
  border: #dddddd;
}

.flex-container {
  display: flex;
  background-color:#777;
  flex-wrap: wrap;
}

img {
  border-radius: 8px;
  padding: 20px;
  max-width: 150px; 
  height: auto;
}

article {
  padding: 100px;
  color: #ebebeb;
  background-color: #777;
}

p {
  display: flex;
  text-justify: auto;
}

footer {
  background-color:#666666;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;

}

header {
  background-color: #cccccc;
  border: #cccccc;
}